@model IEnumerable<DGrooming.Models.tbl_Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cancelled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cancelled_Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Dog.OwnerID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cancelled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cancelled_Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Dog.OwnerID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AppointmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AppointmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppointmentID })
        </td>
    </tr>
}

</table>
