@model DGrooming.Models.tbl_Dog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Dog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dogname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dogname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Breed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matted_dog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matted_dog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Owner.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Owner.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DogID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
